.nav-container {
  padding: 10px 0px;
  margin: 0 20px;
  background-color: #003580;
  color: white;
}
/*  TITLE */
.nav-title-login {
  display: flex;
  justify-content: space-between;
  margin: 0.5% 10%;
}
/* BTN RESITER & LOGIN */
.nav-btn-register {
  margin-right: 20px;
}
.nav-btn {
  color: #003580;
  background-color: #efefef;
  padding: 5px 15px;
  border: none;
}
/*  OPTION STAYS-FLIGHTS-CAR RENTALS..V...V.. */
.nav-options-all {
  margin: 0.5% 10%;
  display: flex;

  margin-top: 4%;
}
.nav-option {
  padding: 10px;
  margin-right: 5%;
}
.nav-border-option {
  border: 1px solid;
  border-radius: 20px;
}
